@import url(https://fonts.googleapis.com/css?family=Exo+2:300i);
@import url(https://fonts.googleapis.com/css?family=Exo+2:200);

#playlist ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* This makes the last row left-justify, but has the unpleasant side-effect of breaking the alignment */
/*#playlist ul::after {
  content: "";
  flex: auto;
} */

#playlist li {
  width: 500px;
  height: 50px;
  display: flex;
  align-items:center;
  padding: 0.5rem;
}

#playlist img {
  max-height: 3rem;
  max-width: 3rem;
  object-fit: cover;
  border-radius: 0.3rem;
  margin-right: 1rem;
}

#playlist a {
  color: #eee;
  text-decoration: none;
  font-size: 1.3rem;

  /* For enlargement on hover */
  transition-duration: 0.1s;
}

#playlist a:hover {
  /* Slight enlargement and brightening */
  font-size: 1.4rem;
  color: #fff;
}

#playlist .current-song a {
  color:yellow;
}

#audioPlayer {
  width: 100%;
}

.footer {
  color: #eee;
  text-align: center;
  margin: 2rem;
  margin-top: 0;
}

.footer p {
  color: #eee;
  margin-bottom: 10px;
}

.footer a {
  color: #eee;
  padding: 5px;
  text-decoration: none;
  padding-left: 3rem; /* TODO: lay next/prev/shuffle/loop controls out better */
}

.content {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
   /*Base font size */
  /*font-size: 15px;*/
}

body {
  font-family: 'Exo 2', sans-serif;
  justify-content: center;
  align-items: center;  
}

.header {
  margin: 2rem;
  display: flex;
  align-items: center;
  border: 0.4rem solid #fff;
  border-radius: 2rem;
  width: 100%
  justify-content: center;
  background-image: linear-gradient(to bottom right, var(--BG_COL0), var(--BG_COL1), var(--BG_COL2));
}

.picture {
  align-self: stretch;
  max-height: 15rem; 
  margin: 0.5rem;
  border-radius: 1.1rem;  
  transition: all 1s;
}

.album {
  flex: 1;
}

p {
  margin:0;
}

h1 {
  font-size: 5rem;
  font-weight: 550;
  font-style: italic;
  color: #eee;
  text-align: center;
  margin:1rem;
  transition: all 1s;
}

h2 {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: #eee;
  text-align: center;
  margin: 1rem;
  transition: all 1s;
}

h3 {
  font-size: 2rem;
  font-weight: 200;
  font-style: italic;
  color: #eee;
  text-align: center;
  margin: 1rem;
  transition: all 1s;
}

#playlistlinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#playlistlinks::after {
  content: "";
  flex: auto;
}

#playlistlinks div {
  font-size: 1.3rem;
  border-radius: 0.9rem; 
  background-color: var(--BG_COL1);
  border: 1px solid #eee;
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin:5px;
}

.speciallink {
  font-size: 1.3rem;
  border-radius: 0.5rem; 
  background-color: #555;
  color: black;
  border: 1px solid #eee;
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin:5px;
}

#playlistlinks div:hover {
  border: 1px solid green;
}

#playlistlinks a {
  color: #eee;
  text-decoration: none;
}

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, var(--BG_COL0), var(--BG_COL1), var(--BG_COL2));
  background-attachment: fixed;

  /* Make everything unselectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  }

.content {
  flex: 1;
  overflow: auto;
}
